/** Search form */
.search-form {
  @extend .form-inline !optional;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.landing-page-item {
  text-decoration: none;
  border: 2px solid $gray-300;
  margin: 10px;
  padding: 10px;
}

.landing-page-image {
  background-size: cover;
  width: 100%;
  height: 100px; 
}