table {
  @extend .table;

  margin: 3rem 0;
}

.guic-docs-main table.table-dark tr:nth-child(even) > * {
  background-color: #646464;
}

.guic-docs-main table.table tr:nth-child(even) > * {
  background-color: rgba(238, 238, 238, 1.0);
}