<footer class="footer text-muted">
  <div class="container-xxl">
    <div class="row">
      <div class="text-center">
        <span>Coherent Labs &copy; <span id="footer-year">2023</span></span>
        <a href="{{ .Site.BaseURL }}{{ .Site.LanguagePrefix }}/privacy-policy/" target="_blank">Privacy Policy</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div>
  </div>
  <script>
    document.getElementById('footer-year').textContent = new Date().getFullYear();
  </script>
</footer>
